.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.form-input-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.form-input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.form-msg-send {
  padding: 0 30px;
  background-color: rgb(66, 164, 194);
  color: #fff
}

.form-msg-list {
  width: 100%;
}