.app-header {
  text-align: center;
}

.app-user-login {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
}

.btn {
  font-weight: bold;
  font-size: 1.2em;
}